{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>H&M</title>

    <script src="{% static 'js/jquery-3.3.1.min.js' %}" type="application/javascript"></script>
    <script src="{% static 'js/button.top.js' %}" type="application/javascript"></script>
    <script src="{% static 'js/button.write.us.js' %}" type="application/javascript"></script>
    <script src="{% static 'js/scriptss.js' %}" type="application/javascript"></script>
    <script src="{% static 'js/nav.js' %}" type="application/javascript"></script>

    <link href="{% static 'css/styles3.css' %}" rel="stylesheet" type="text/css">

</head>
<body>
    {% block content %}

    {% endblock %}
</body>
</html>