{% extends 'base.html' %}
{% load my_filters i18n %}
{% load staticfiles %}

{% block content %}
    {% show_navbar 'index' %}

    <div class="main-part"><br>

        <img  class="new2019" width="950" heigth="640" src="{% static 'image/new2019.jpg' %}"><br><br><br>
            <div class="text-container" data-text-color="white">
                <span class="vignette">ВОЛШЕБНЫЕ ПРАЗДНИКИ</span>
                <span class="preamble-top">НОВОГОДНЕЕ ПРЕДЛОЖЕНИЕ <br></span>
                <span class="heading">СКИДКИ ДО 50%<br></span>
                <span class="preamble-bottom">НА ИЗБРАННЫЕ МОДЕЛИ</span>
            </div>

        <img width="950" heigth="640" src="{% static 'image/fdbdfdfa.jpg' %}">
            <div class="text-container-b" data-text-color="white">
                <span class="vignette">ВОЛШЕБНЫЕ ПРАЗДНИКИ</span>
                <span class="preamble-top">НОВОГОДНИЕ ТРЕНДЫ<br></span>
                <span class="heading">НОВИНКИ СЕЗОНА</span>
            </div>

        <h2 class="hh">Осенние тенденции</h2>

        <div>
            <figure class="sign">
                <a href="#"><img width="220" heigth="390" src="{% static 'image/img2.jpg' %}"></a>
                <figcaption>Платье из шифона<br> с оборками</figcaption>
            </figure>
            <figure class="sign">
                <a href="#"><img width="220" heigth="390" src="{% static 'image/img3.jpg' %}"></a>
                <figcaption>Джемпер с треугольным<br> вырезам</figcaption>
            </figure>
            <figure class="sign">
                <a href="#"><img width="220" heigth="390" src="{% static 'image/img4.jpg' %}"></a>
                <figcaption>Брюки</figcaption>
            </figure>
            <figure class="sign">
                <a href="#"><img width="220" heigth="390" src="{% static 'image/img5.jpg' %}"></a>
                <figcaption>Свитшот</figcaption>
            </figure>
        </div>

        <div class="img-new-year">
            <img width="950" heigth="640" src="{% static 'image/new1.jpg' %}">
            <h2 class="new-year">С новым годом!</h2>
        </div>
    </div>

    {% show_top %}
    {% show_footer %}
{% endblock %}